<header>
	<nav class="round">
		<ul>
			<% if signed_in? %>
			<li><%= link_to "Profile", current_user %></li>
			<% end %>
			<% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
			<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
		
		</ul>
	</nav>
	<p>Is the user signed in <%= signed_in? %> </p>
	<p>Does test exist <%= @test %> </p>
</header>
